<form class="icon-menu-defaults">
    <input #toggleCheck type="checkbox" [(ngModel)]="toggle"><label></label>
    <div    [hidden]="toggleCheck.className.indexOf('ng-pristine') != -1" 
            class="select-menu-item-defaults {{menuAlign === 'left' ? 'select-menu-item-align-left' : 'select-menu-item-align-right'}}" 
            [snabbtData]="toggleCheck.checked ? revealAnimation : hideAnimation">
        <span *ngFor="#item of menuItems">
            <input type="radio" name="menu" value="{{item.value}}" [checked]="selectedItem==item.value" (change)="selectedItem=$event.target.value"><label>{{item.name}}</label>
        </span>
    </div>
</form>