.icon-menu-defaults {
    margin: 30px;
}

/* Checkbox Styles */

@keyframes gearSpinOpen {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-520deg);}
}
@keyframes gearSpinClose {
    0% {transform: rotate(-520deg);}
    100% {transform: rotate(0deg);}
}

.icon-menu-defaults input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.icon-menu-defaults input[type="checkbox"] + label {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("/images/gear-sprites.png") left top no-repeat;
    animation: gearSpinClose 0.75s ease-out forwards;
}
.icon-menu-defaults input[type="checkbox"]:checked + label {
    background: url("/images/gear-sprites.png") -32px top no-repeat;
    animation: gearSpinOpen 0.75s ease-out forwards;
}

/* Radio Group Styles */

.select-menu-item-defaults {
    position: absolute;
    background-color: var(--back-modal-color);
    border: 1px solid var(--fore-line-color);
    box-shadow: 1px 1px 2px var(--back-shadow-color);
    white-space: nowrap;
}

.select-menu-item-align-right {
    right: 4px;
}

.select-menu-item-align-left {
    left: 4px;
}

.icon-menu-defaults input[type="radio"] {
    position: absolute;
    cursor: pointer;
    opacity: 0.0;
    height: 1.5em;
    width: 100%;
    z-index: 1;
}

.icon-menu-defaults input[type="radio"] + label {
    display: block;
    padding: 4px;
    height: 1.5em;
    line-height: 1.5em;
    border-top: 1px solid var(--fore-modal-line-color);
    border-bottom: 1px solid var(--fore-modal-line-color);
}
.icon-menu-defaults input[type="radio"]:checked + label {
    border-top: 1px solid var(--fore-modal-line-color);
    border-top: 1px solid var(--fore-modal-line-color);
    box-shadow: 1px 1px 2px var(--back-shadow-color);
    background-color: var(--back-main-color);
}
.icon-menu-defaults input[type="radio"]:hover + label {
    background-color: var(--back-highlight-color);    
}